# Tuple

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (3,4,56,7,8.9,'shivam')

In [4]:
t

(3, 4, 56, 7, 8.9, 'shivam')

In [5]:
t[2]

56

In [6]:
t[1:5]

(4, 56, 7, 8.9)

In [7]:
t[5]

'shivam'

In [8]:
t[5][2]

'i'

In [9]:
t1 = (4,6,9,10)

In [10]:
t1

(4, 6, 9, 10)

In [15]:
a,b,c,d = t1

In [16]:
a

4

In [17]:
c

9

In [18]:
len(t1)

4

In [19]:
len(t)

6

In [20]:
max(t1)

10

In [21]:
min(t1)

4

In [22]:
t1.index(4)

0

In [23]:
t1

(4, 6, 9, 10)

In [24]:
t1[0] = 12

TypeError: 'tuple' object does not support item assignment

In [25]:
t2 = (6,9,12, 5)

In [26]:
t1+t2

(4, 6, 9, 10, 6, 9, 12, 5)

In [27]:
t1*2

(4, 6, 9, 10, 4, 6, 9, 10)

# Lists

In [28]:
a = []

In [29]:
type(a)

list

In [30]:
l = [2,3,5,6,8]

In [31]:
l

[2, 3, 5, 6, 8]

In [32]:
a,b,c,d,e = l

In [33]:
a

2

In [34]:
l[1]

3

In [35]:
l1 = [3, 7, 9, 10, 'anupam']

In [36]:
l1[3]

10

In [37]:
l1[4][3]

'p'

In [38]:
l1[4] = 'shivam'

In [39]:
l1

[3, 7, 9, 10, 'shivam']

In [40]:
l

[2, 3, 5, 6, 8]

In [41]:
del l[2]

In [42]:
l

[2, 3, 6, 8]

In [43]:
del l[1:]

In [44]:
l

[2]

In [52]:
l1

[3, 7, 9, 10, 'shivam']

In [45]:
l2 = [7,65,3.7,'sanjeev',89]

In [46]:
l1 + l2

[3, 7, 9, 10, 'shivam', 7, 65, 3.7, 'sanjeev', 89]

In [47]:
l1*3

[3, 7, 9, 10, 'shivam', 3, 7, 9, 10, 'shivam', 3, 7, 9, 10, 'shivam']

In [48]:
len(l1)

5

In [50]:
l3 = ['anupam','madhu','javed', 'gaurav']

In [51]:
max(l3)

'madhu'

In [49]:
max(l1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [53]:
t1

(4, 6, 9, 10)

In [54]:
list(t1)

[4, 6, 9, 10]

In [55]:
tuple(l3)

('anupam', 'madhu', 'javed', 'gaurav')

In [56]:
l4 = [8,9,12,45,2,1,3]

In [57]:
sorted(l4)

[1, 2, 3, 8, 9, 12, 45]

In [58]:
l1,l2,l3

([3, 7, 9, 10, 'shivam'],
 [7, 65, 3.7, 'sanjeev', 89],
 ['anupam', 'madhu', 'javed', 'gaurav'])

In [59]:
l4.append('gaurav')

In [60]:
l4

[8, 9, 12, 45, 2, 1, 3, 'gaurav']

In [65]:
l4

[8, 9, 12, 45, 2, 1, 3, 'gaurav', 's', 'h', 'i', 'v', 'a', 'm']

In [68]:
l1

[3, 7, 9, 10, 'shivam']

In [69]:
l2

[7, 65, 3.7, 'sanjeev', 89]

In [70]:
l1.append(l2)

In [71]:
l1

[3, 7, 9, 10, 'shivam', [7, 65, 3.7, 'sanjeev', 89]]

In [78]:
l1[5][1]

65

In [74]:
l5 = [8,9,9,10,12]

In [75]:
l3

['anupam', 'madhu', 'javed', 'gaurav']

In [76]:
l3.extend(l5)

In [77]:
l3

['anupam', 'madhu', 'javed', 'gaurav', 8, 9, 9, 10, 12]

In [80]:
l3.append(5687857662)

In [81]:
l3

['anupam', 'madhu', 'javed', 'gaurav', 8, 9, 9, 10, 12, 5687857662]

In [82]:
l3.count(9)

2

In [83]:
l3.index('javed')

2

In [84]:
l3.insert(0,'shivam')

In [85]:
l3

['shivam', 'anupam', 'madhu', 'javed', 'gaurav', 8, 9, 9, 10, 12, 5687857662]

In [86]:
l3.remove(9)

In [87]:
l3

['shivam', 'anupam', 'madhu', 'javed', 'gaurav', 8, 9, 10, 12, 5687857662]

In [88]:
l3.pop()

5687857662

In [89]:
l3

['shivam', 'anupam', 'madhu', 'javed', 'gaurav', 8, 9, 10, 12]

In [90]:
l3.pop(7)

10

In [91]:
l3

['shivam', 'anupam', 'madhu', 'javed', 'gaurav', 8, 9, 12]

In [92]:
l3.reverse()

In [93]:
l3

[12, 9, 8, 'gaurav', 'javed', 'madhu', 'anupam', 'shivam']

In [97]:
l6 = l3.copy()

In [98]:
l6

[12, 9, 8, 'gaurav', 'javed', 'madhu', 'anupam', 'shivam']

In [99]:
l6.clear()

In [100]:
l6

[]

# Dictionary

In [101]:
d = {}

In [102]:
type(d)

dict

In [104]:
d = {'name': 'shivam', 'score': 89, 'age': 24}

In [105]:
d

{'name': 'shivam', 'score': 89, 'age': 24}

In [106]:
d1 = {80: 'http', 90: 'port', 5000: 'localhost'}

In [107]:
d1

{80: 'http', 90: 'port', 5000: 'localhost'}

In [108]:
d.keys()

dict_keys(['name', 'score', 'age'])

In [109]:
d1.keys()

dict_keys([80, 90, 5000])

In [110]:
d1.values()

dict_values(['http', 'port', 'localhost'])

In [111]:
d

{'name': 'shivam', 'score': 89, 'age': 24}

In [112]:
d1

{80: 'http', 90: 'port', 5000: 'localhost'}

In [113]:
del d1[90]

In [114]:
d1

{80: 'http', 5000: 'localhost'}

In [115]:
d['age']

24

In [116]:
d1[80] = 'port'

In [117]:
d1

{80: 'port', 5000: 'localhost'}

In [118]:
d1[100] = 'http'

In [119]:
d1

{80: 'port', 5000: 'localhost', 100: 'http'}

In [120]:
len(d1)

3

In [121]:
max(d1)

5000

In [123]:
l3

[12, 9, 8, 'gaurav', 'javed', 'madhu', 'anupam', 'shivam']

In [124]:
l8 = [[3,4],[7,8],['nmaw','djj'],['score',90]]

In [125]:
dict(l8)

{3: 4, 7: 8, 'nmaw': 'djj', 'score': 90}

In [126]:
d

{'name': 'shivam', 'score': 89, 'age': 24}

In [127]:
d1

{80: 'port', 5000: 'localhost', 100: 'http'}

In [128]:
d.update(d1)

In [129]:
d

{'name': 'shivam',
 'score': 89,
 'age': 24,
 80: 'port',
 5000: 'localhost',
 100: 'http'}

In [130]:
d.items()

dict_items([('name', 'shivam'), ('score', 89), ('age', 24), (80, 'port'), (5000, 'localhost'), (100, 'http')])

In [131]:
d.get('name')

'shivam'

In [133]:
d.pop(80)

'port'

In [134]:
d

{'name': 'shivam', 'score': 89, 'age': 24, 5000: 'localhost', 100: 'http'}

# Sets

In [139]:
s = {6, 9, 6, 7, 8, 8,9, 6}

In [140]:
type(s)

set

In [141]:
s

{6, 7, 8, 9}

In [142]:
s1 = {7,8,9,23,7,9,10}

In [143]:
s1

{7, 8, 9, 10, 23}

In [144]:
s

{6, 7, 8, 9}

In [145]:
s.add('shivam')

In [146]:
s

{6, 7, 8, 9, 'shivam'}

In [147]:
s.remove('shivam')

In [148]:
s

{6, 7, 8, 9}

In [149]:
s2 = {8,9,9,10,12}

In [150]:
s2

{8, 9, 10, 12}

In [151]:
s

{6, 7, 8, 9}

In [152]:
s.intersection(s2)

{8, 9}

In [153]:
s.difference(s2)

{6, 7}

In [154]:
s

{6, 7, 8, 9}

In [155]:
s.difference_update(s2)

In [156]:
s

{6, 7}

In [157]:
l1 = ['abc',[4,5,('shivam', 'itskills')],6,9,10]

In [158]:
l1

['abc', [4, 5, ('shivam', 'itskills')], 6, 9, 10]

In [164]:
l1[1][2][0][3]

'v'