In [1]:
t = (3,4,5,6,7)

In [2]:
t

(3, 4, 5, 6, 7)

In [3]:
for i in t:
    print(i)

3
4
5
6
7

In [4]:
range(10)

range(0, 10)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
l = [3,2,1,4,5,6,7,19]
m = []

for i in l:
    if i%2 == 0:
        m.append(i)

In [11]:
m

[2, 4, 6]

In [23]:
s = 10
if s==10:
    print("yes it is lesser than 10")
    if type(s) == str:
        print("yes 's' is an string")
    elif type(s) == complex:
        print("yes 's' is an integer")
    else:
        print("my datatype is none of the above")
elif s>50:
    print("yes this is less than 50")
elif s < 40:
    print('yes s in equals to 40')
else:
    print("non of the condition is true")

yes it is lesser than 10
my datatype is none of the above

In [25]:
l = [5,7,9,12,14,67,3]
for i in l:
    print(i)
else:
    print("nothing is left in the list")

5
7
9
12
14
67
3
nothing is left in the list

In [27]:
d = 10
s = 0
i = 1
while i<=d:
    s = s+i
    i = i+1
    print(s)
print(s)

1
3
6
10
15
21
28
36
45
55
55

In [32]:
for x in "shivam":
    if x == '':
        break
    print(x)
else:
    print("i am not able complete the iteration")
print("out of the loop")

s
h
i
v
a
m
i am not able complete the iteration
out of the loop

In [33]:
for i in "shivam":
    if i == 'v':
        continue
    print(i)

s
h
i
a
m

In [37]:
for i in range(10):
    pass

In [6]:
'shivam' + str(1)

'shivam1'

In [9]:
a = input()

78

In [10]:
type(a)

str

In [3]:
a = int(input("enter 1st number"))
b = int(input("enter 2nd number"))

enter 1st number56
enter 2nd number78

In [4]:
a+b

134

In [8]:
'javed' + str(1)

'javed1'

In [2]:
d = {'key':[1,2,3,4,5,[56,78]], 'key1':(6,7,8,9,10), 'key2': {4,8,9,12}, 'key3': {'n1':'gaurav','n2':'javed','n3':'anupam'}}

In [3]:
d

{'key': [1, 2, 3, 4, 5, [56, 78]],
 'key1': (6, 7, 8, 9, 10),
 'key2': {4, 8, 9, 12},
 'key3': {'n1': 'gaurav', 'n2': 'javed', 'n3': 'anupam'}}

In [4]:
d['key'][5][0]

56

In [5]:
d['key3']['n2']

'javed'

In [9]:
for i in d:
    print(d[i])

[1, 2, 3, 4, 5, [56, 78]]
(6, 7, 8, 9, 10)
{8, 9, 4, 12}
{'n1': 'gaurav', 'n2': 'javed', 'n3': 'anupam'}

In [10]:
d['key3']['n3']

'anupam'